*::after,
*::before {
    box-sizing: border-box;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #505050;
}

.container {
    max-width: 1354px;
    margin: 0 auto;
    padding: 0 32px;
}

.header {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}

.header__top-content {
    display: flex;

}

.header__top-back img {
    margin-right: 8px;
}

.header__top-item img {
    max-width: 20px;
}

.header__top-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35px;
    max-width: 56px;
}

.header__top-item img {
    margin-bottom: 11px;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);

}

.header__bottom-left {
    display: flex;
}

.header__bottom-right {
    display: flex;
}

.header__top-back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__bottom-item+.header__bottom-item {
    display: flex;
    align-items: center;
}

.activity {
    background-color: #F1F1F1;
}

.header__bottom-item img {
    margin-right: 12px;
}

.header__bottom-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 17px;
}

.settings {
    position: relative;
}

.settings::after {
    content: url('../images/arrow_down.svg');
    padding-left: -5px;
    position: absolute;
    left: 35px;
    top: px;
}

.header__top-back:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.header__top-item:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.header__bottom-item:hover {
    cursor: pointer;
}

.content {
    background-color: #f1f1f1;
    padding-top: 32px;
}


.content__inner__items {
    background-color: #fff;

}

.img_content {
    max-width: 200px;
}

.mountin {
    max-width: 1016px;
}

.content__inner__items1 {
    padding: 56px 32px 0 32px;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
}

.content__inner__items3 {}

.content__inner__items4 {
    padding: 32px 51px;
}

.content__inner__items6 {}

.content__inner__items5 {}

.item__wraper {
    display: flex;

}

.item__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}

.item__flex+.item__flex {
    margin-right: 33px;
    display: flex;
    align-items: center;
}

.item {
    margin-bottom: 20px;
    align-items: center;
}

.time__comment1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8F8F8F;
}

.link_on_person {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #5095EC;
}

.item__commented {
    display: flex;
    align-items: center;
}

.indent {
    display: flex;
    gap: 11px;
}

.indent span {
    margin-right: 28px;
}

.item__commented img {
    /* margin-right: 12px; */
}

.content__inner__items p {
    /* margin-bottom: 16px; */
}

.content__inner__items span {}

.Jason {
    margin-bottom: 12px;
}

.content__inner__items2 {}

.person {
    border-radius: 100%;
}

.item2 {
    margin-bottom: 20px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.item2 h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8F8F8F;
    display: flex;
    justify-content: center;
}

.item2 h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #505050;
}

.content__inner {
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.content__inner--left {
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content__inner--right {
    max-width: 264px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.time__comment {
    display: flex;
    justify-content: space-between;
    padding: 18px 32px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.items2__h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #505050
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation__item {
    display: flex;
    padding: 9px 17px;
    align-items: center;
}

.navigation__item:hover {
    background-color: #D3D8DE;
}

.navigation__item__zagolovok {
    display: flex;
    padding: 9px 17px;
}

.navigation__item__zagolovok:hover {
    background-color: #D3D8DE;
}

.arrow__top {
    justify-content: space-between;
}

.spacebeet {
    display: flex;
    justify-content: space-between;

}

.navigation div img {
    margin-right: 8px;
}

.share {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.textarea {
    margin: 0 16px;
    padding-top: 8px;
    padding-bottom: 88px;
}

.balance__money {
    display: flex;
    align-items: center;
}

.save_button {
    cursor: pointer;
}

.navigation__item {
    cursor: pointer;
}